<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="application.properties"></properties>
    <settings>
        <!-- changes from the defaults for testing -->
        <setting name="cacheEnabled" value="true" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
    </settings>
    <typeAliases>
        <typeAlias alias="SysConfig" type="com.ctrip.access.pojo.SysConfig"/>
        <typeAlias alias="User" type="com.ctrip.access.pojo.User"/>
        <typeAlias alias="Article" type="com.ctrip.access.pojo.Article" />
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="com.ctrip.access.handler.PhoneTypeHanlder" />
    </typeHandlers>
    <environments default="development">
        <environment id="development">
            <transactionManager type="jdbc"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driverClass}"/>
                <property name="url" value="${jdbc.connectionURL}"/>
                <property name="username" value="${jdbc.userId}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/SysConfigMapper.xml" />
        <mapper resource="mapper/UserMapper.xml" />
    </mappers>
</configuration>